<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cemetery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>158B37161E9CBB83009CFC37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158B372A1E9CBB83009CFC37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158B37351E9CBB83009CFC37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
